*{
    box-sizing: border-box;
}

body{
    background-color: red;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
header{ 
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    

}
nav{
    background-color: white;
    font-size: 1.3em;
    text-align: center;
}
nav a:link{
    text-decoration: none;
}

nav a:visited {
    color: red;

}
nav a:hover{
    color: black;

}

nav li{
    border-bottom: 1px solid black;
    padding: 0.5em 1em;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
main{
    display: block;
    padding: 0 1em;
}

form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;


}
footer{
    background-color: whitesmoke;
    font-size: 0.7em;
    font-style: normal;
    padding: 1em;
    text-align: center;
}

dt{
    color: white;
    font-weight: bold;
}
h1{
    font-size: 2em;
    text-align: center;
}
h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-family: 'Courier New', Courier, monospace;
}
h4{
    font-family: 'Courier New', Courier, monospace;
}

input, textarea{
    margin-bottom: 0.5em;
}

table{
    margin: auto;
    width: 90%;
    border: 2px solid yellow;
}
td{
    text-align: center;
}
td ,th{
    padding: 7px;
    border: 1px solid yellow;
}
